.container{

    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
   
}

header{
    padding: 8px 0;
    background-color:#2b134b;
    height: 90px;
}

.logo{

    float: left;
    
}

.logo h2{

    font-weight: bold;
    
    font-size: 40px;
    display: inline-block;
}

.logo a{

    
    text-decoration: none;
    color: #FFF3E2;
    
    
}

nav.menu-desktop{

    float: right;
}

nav.menu-desktop ul{

    position: relative;
    top: 8px;
    list-style: none;
}

nav.menu-desktop li{

    padding: 0;
    font-weight: bold;
    display: inline-block;
    font-size: 25px;
}

nav.menu-desktop a{

    text-decoration: none;
    color: #FFF3E2;
    padding: 20px 30px;
    bottom: -13px;
    position: relative;

}

nav.menu-desktop a:hover {

    background-color: #00ff88;
    transition: background .8s;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 3px 30px;
    
}