*{
    font-family: Arial, Helvetica, sans-serif;
}

.linha{
border-bottom: 3px solid rgb(117, 117, 117);

}

.esquerda{
    float: left;
margin-right: 10px;
padding-bottom: 150px;
margin-left: 100px;
}


.direita{
    float: right;
margin-right:50px;
border-left: black solid 2px;
padding-bottom: 1px;
text-align: center;
}


.sinopse{
    padding-left: 40px;
    margin-right: 400px;
    text-align: left;
}

.alinhar{
    display: inline-block;
    text-align: left;
}
.grid{
    display: grid;
    grid-template-columns: 500px;
    text-align: justify;
    padding-left: 40px;
    
}
