body {
    background-color: #e8e8e8;
    color: #3f3f3f;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
}

h1 {
    color: #252525;
}

table,
th,
td {
    border: 1px solid #444;
    border-collapse: collapse;
    padding: 5px 2px;
}

table {
    width: 100%;
}

.conteudo {
    text-align: left;
}

.destaque {
    text-align: center;
}

th {
    background-color: #d11616;
    color: #fff;
}

tr:hover {
    background-color: #f7f5f5;
}

.btn-editar {
    background-color: #5bd9ff;
    color: #fff;
    padding: 5px 8px;
    border: 1px solid #5bd9ff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
    
}

.btn-editar:hover {
    background-color: #fff;
    color: #5bd9ff;
}

.btn-excluir {
    background-color: #ff8e43;
    color: #fff;
    padding: 5px 8px;
    border: 1px solid #ff8e43;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}

.btn-excluir:hover {
    background-color: #fff;
    color: #ff8e43;
}

.btn-adicionar {
    background-color: #ff4343;
    color: #fff;
    padding: 5px 8px;
    border: 1px solid #ff4343;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}

.btn-adicionar:hover {
    background-color: #fff;
    color: #ff4343;
}

.container {
    
    margin: 0 auto;
    padding: 0 2%;

}

header {
    padding-top: 0 auto;
    padding: 8px 0;
    background-color: #3a3a3a;
    height: 60px;

    
}

.logo {
    margin-top: -5px;
    float: left;
    width: 100px;
    height: 80px;
}

.logo h2 {

    font-weight: bold;
    font-size: 4px;
    display: inline-block;
}

.logo a {


    text-decoration: none;
    color: #FFF3E2;


}

nav.menu-desktop {

    float: right;
}

nav.menu-desktop ul {

    position: relative;
   
    list-style: none;
}

nav.menu-desktop li {

    padding: 0;
    font-weight: bold;
    display: inline-block;
    font-size: 25px;
}

nav.menu-desktop a {

    text-decoration: none;
    color: #FFF3E2;
    padding: 20px 30px;
    bottom: 0;
    position: relative;

}

nav.menu-desktop a:hover {

    background-color: #ff0000;
    transition: background .8s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 30px;

}

.center{
    text-align: center;
    align-items: center;
}

.tabela{
    margin: 5px;
}